[build]
rustflags = [
{{ if eq .chezmoi.os "linux" }}
	"-C", "link-arg=-fuse-ld=mold",
{{ else if eq .chezmoi.os "darwin" }}
	"-C", "link-arg=-fuse-ld=lld",
{{ end }}
]

{{ if eq .chezmoi.os "linux" }}
[target.x86_64-unknown-linux-gnu]
linker = "clang"
{{ end }}

[registries.crates-io]
protocol = "sparse"

[profile.release]
lto = "thin"
strip = "none"
debug = 1

[profile.dev]
opt-level = 1
