{{- $cargo_toml := joinPath .chezmoi.workingTree ".chezmoitemplates" "cargo.toml" -}}
# .cargo/config.toml hash: {{ include $cargo_toml | sha256sum }}

$_cargo_home = if ($env:CARGO_HOME) { $env:CARGO_HOME } else { Join-Path $env:USERPROFILE '.cargo' }
New-Item -ItemType Directory -Path $_cargo_home -Force | Out-Null
chezmoi execute-template {{ $cargo_toml | quote }} | Set-Content -Path (Join-Path $_cargo_home 'config.toml') -Encoding UTF8
Remove-Variable -Name _cargo_home
