[user]
	name = Lucy
	email = lucy@absolucy.moe
{{- if lookPath "op" }}
	signingkey = {{ .ssh.github }}
[commit]
	gpgsign = true
{{- end }}
[core]
{{- if lookPath "code" }}
	editor = code --wait
{{- else if lookPath "kate" }}
	editor = kate
{{- else if lookPath "gedit" }}
	editor = gedit
{{- else if lookPath "nano" }}
	editor = nano
{{- end }}
{{- if lookPath "delta" }}
	pager = delta
{{- end }}
{{- if eq .chezmoi.os "windows" }}
	sshcommand = {{ lookPath "ssh.exe" | quote | replace "\\\\" "/" }}
{{- else if (and (eq .chezmoi.os "linux") (contains "microsoft" .chezmoi.kernel.osrelease)) }}
	sshcommand = "/mnt/c/Program Files/OpenSSH/ssh.exe"
{{- end }}
	whitespace = -trailing-space
[interactive]
	singlekey = true
[alias]
	reword = commit --amend
	uncommit = reset --soft HEAD~1
	untrack = rm --cache --
	oops = commit --amend --no-edit
	prune = fetch --prune
	undo = reset --soft HEAD^
	upstream = fetch upstream/master
	untrack = rm --cache --
	skip = update-index --skip-worktree
	unskip = update-index --no-skip-worktree
	cp = cherry-pick
	cc = cherry-pick --continue
	ca = cherry-pick --abort
[interactive]
	diffFilter = delta --color-only
[delta]
	side-by-side = true
	line-numbers-left-format = ""
	line-numbers-right-format = "│ "
[pull]
	autocrlf = input
	ff = true
[merge]
	ff = true
	conflictstyle = diff3
[fetch]
	recurseSubmodules = on-demand
	prune = true
[status]
	showUntrackedFiles = all
[apply]
	whitespace = nowarn
[push]
	autoSetupRemote = true
	default = simple
	followTags = true
[transfer]
	fsckobjects = true
[url "https://github.com/"]
	insteadOf = "gh:"
[url "git@github.com:"]
	pushInsteadOf = "gh:"
[color]
	ui = auto
	interactive = auto
	showbranch = auto
	status = auto
[color "branch"]
	upstream = cyan
[log]
	abbrevCommit = true
	date = short
[tag]
	sort = version:refname
[rebase]
	autosquash = true
	autostash = true
[rerere]
	enabled = true
	autoupdate = true
[commit]
	verbose = true
[diff]
	mnemonicPrefix = true
	renames = true
	algorithm = histogram
{{- if lookPath "json_xs" }}
[diff "json"]
	textconv = {{- if eq .chezmoi.os "windows" }} "pwsh.exe -Command \"Get-Content '$1' | json_xs -f json -t json-pretty\""
	{{- else }} "json_xs -f json -t json-pretty < \"$1\""
	{{- end }}
{{- end }}
[init]
	defaultBranch = main
{{- $op_ssh_sign := findExecutable "op-ssh-sign.exe" (list (joinPath (env "LocalAppData") "1Password/app/8") (joinPath (env "ProgramFiles") "1Password/app/8") "/Applications/1Password.app/Contents/MacOS") }}
{{- if $op_ssh_sign }}
[gpg]
	format = ssh
[gpg "ssh"]
	program = {{ $op_ssh_sign | quote | replace "\\\\" "/" }}
{{- end }}
[credential]
{{- if eq .chezmoi.os "windows" }}
	helper = {{ template "find_scoop_exe" (list "git-without-openssh" "git-credential-manager.exe" true) }}
{{- else if eq .chezmoi.os "darwin" }}
	helper = osxkeychain
{{- else }}
	helper = store
{{- end }}
