Host github.com
	HostName github.com
	User git
	IdentitiesOnly yes
	IdentityFile ~/.ssh/id_github.pub

Host router 10.0.0.1
	HostName 10.0.0.1
	User lucy
	PubKeyAuthentication no

Host steamdeck
	HostName lucys-steam-deck.local
	User deck
	PubKeyAuthentication no
